*.iml
.gradle
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

app/buid/
data/build/
di-container/build/
domain/build/
domain-model/build/
interactors-api/build/
mvi-no-reactive/build/
repositories-api/build/
